.layui-icon,
.iconfont {
    margin-right: 10px;
    font-size: 20px !important;
    vertical-align: middle;
}

.layui-form-item {
    .layui-input-inline {
        margin-right: 0;
    }
}

.content {
    padding-top: 15px;
    padding-bottom: 15px;
}

.keyWord {
    border-right: 0;
}

.refresh {
    margin-left: 10px;
}